[Unit]
Description=NC Manager
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/var/lib/ncmanager
ExecStart=/usr/local/bin/ncmanager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
